@import './variables.less';
@import './reset.less';


.rbc-calendar {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: @out-of-range-color;
}

.rbc-off-range-bg {
  background: @out-of-range-bg-color;
}

.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  min-height: 0;
  padding: 10px 5px;
  background: #fff;

  > a {
    &, &:active, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-today {
  background-color: @today-highlight-bg;
}

.rbc-off {
  background-color: @off-bg;
}

.rbc-off > .rbc-off {
  background-color: @trans-bg;
}

.rbc-hide {
  visibility: hidden;
  height: 0;
  min-height: 0 !important;
}

.rbc-groupName {
  font-weight: normal;
  font-size: 85%;
  min-height: 36px;
}

.rbc-groupName > span {
  word-wrap: break-word;
  display: block;
  white-space: normal;
}

.rbc-groupName.split {
  border-left-style: dashed !important;
}

.rbc-addons-dnd {
  .rbc-row-content {
    pointer-events: none;

    & .rbc-show-more,
    & .rbc-event:not(.rbc-addons-dnd-dragging) {
      pointer-events: all;
    }
  }

  .rbc-addons-dnd-over {
    background-color: @event-bg;
  }

  .rbc-event {
    transition: opacity 150ms;
    pointer-events: all;
  }

  &.rbc-addons-dnd-is-dragging .rbc-event {
    pointer-events: none;
    opacity: .50;
  }

   .rbc-addons-dnd-dragging {
     pointer-events: none;
     opacity: .35;
   }
}

.rbc-resizer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
  /*user-drag: none;*/
}
.rbc-resizer::after {
  content: '=';
}

@import './toolbar.less';
@import './event.less';
@import './month.less';
@import './agenda.less';
@import './time-grid.less';
